<head>>
    <title>Car Dodger</title>
  </head>
  
  <h3 style="text-align: center;">
    Esta es la pagina de Car Dodger un juego arcade en el que 
    tendras que poner a pruebas tus reflejos para aguantar el mayor tiempo posible 
    en la carretera esquivando coches.
    </h3>
  <h3 style="text-align: center;">
    Este juego fue creado con la idea de hacerte los momentos de espera como colas
     para acceder a un servicio o la descarga de un archivo entre muchas otras cosas mas amenas-.
    </h3>
  
<div style="margin-left: 15px;">
    <img src="./assets/Captura.JPG" width="285px" height="400px">
    <img src="./assets/Captura2.JPG" width="285px" height="400px">
    <img src="./assets/Captura3.JPG" width="285px" height="400px">
    <img src="./assets/Captura4.JPG" width="285px" height="400px">
    <img src="./assets/Captura5.JPG" width="285px" height="400px">
  </div>


