<div class="p-4">
    <div class="container">
         <head>>
            <title>Car Dodger</title>
          </head>
        <h1 style="text-align: center;">CAR DODGER</h1>
        
        

       
          
          <h3 style="text-align: center;">
            Esta es la pagina de Car Dodger un juego arcade en el que 
            tendras que poner a pruebas tus reflejos para aguantar el mayor tiempo posible 
            en la carretera esquivando coches.
            </h3>
            
          
        <div style="margin-left: 15px;">
            <img src="./assets/Captura.JPG" width="250px" height="400px">
            <img src="./assets/Captura2.JPG" width="250px" height="400px">
            <img src="./assets/Captura3.JPG" width="250px" height="400px">
            <img src="./assets/Captura4.JPG" width="250px" height="400px">
            
          </div>
        
        
        
    </div>
</div>