
  <div class="p-1 bg-light ">
    <div class="container ">
         <head>>
            <title>Car Dodger</title>
          </head>
          <p></p>
        <h1 style="text-align: center; font-size: 250px;">CAR DODGER</h1>
          <div>
            <div>
              <img src="./assets/Captura6.JPG" width="250px" height="400px" class="float-right">
            </div>
            <div>
              <img src="./assets/Captura2.JPG" width="250px" height="400px" class="float-right">
            </div>
            
          </div>
        
          
        
            <h3>
                 <p>    Esta es la pagina de Car Dodger un juego de plataforma en el que 
            tendras que poner a pruebas tus habilidades para aguantar el mayor tiempo posible 
            en la carretera esquivando coches.</p>
            </h3>
            
            
              <h3><p>
              
                  En este juego competiras contra otros jugadores en ver quien consigue aguantar mas ante 
                  los peligros de la carretera y si eres capaz de entrar en los 5 mejores, TU NOMBRE 
                  aparecera en el RANKING.
              </p></h3>

              <h3 class="p-4">
                <p>
                El juego tiene requisitos minimos.
            </p></h3>
            <h3><p>
              
          </p></h3>
        
    </div>
    
      
</div>
