<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
    <div class="navbar-nav ">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Pagina Principal</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Usuarios</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-item nav-link" routerLink="/Download" routerLinkActive="active">Descargar</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-item nav-link" routerLink="/Comments" routerLinkActive="active">Comentarios</a>
            </li>
            
        </ul>
        <div >
    
            <button class="btn btn-outline-danger me-3 " (click)="logout()" type="submit" routerLink="/InicioSesion">Logout</button>
           
        </div>
    </div>

    

</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>

<!-- credits -->

<app-footer></app-footer>
