<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
    <div class="navbar-nav ">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Pagina Principal</a>
        
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Usuarios</a>

        <a class="nav-item nav-link" routerLink="/Download" routerLinkActive="active">Descargar</a>

        
        <button class="btn btn-outline-danger me-3 " (click)="logout()" type="submit" routerLink="/InicioSesion">Logout</button>
    </div>

    

</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>

<!-- credits -->

<app-footer></app-footer>
